*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column; 
     width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content:space-evenly;
}
.container h1{
    color: rgb(247, 170, 27);
    text-shadow: 1px 1px 1px #000;
}
.header-img{
    width: 20rem;
    height: 20rem;
}
.container .btn-click{
    padding: 0.6rem 1.6rem;
    box-shadow: 1px 1px 1px #000;
    background-color: rgb(247, 170, 27);
    font-size: 1.5rem;
    border-radius: 5rem;
}
.container-game{
    display: flex;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
}
